body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

/* everywhere there is box-sizing set it to border box
this removes the extra overflow of padding on input boxes in forms */
* {
  box-sizing: border-box;
}
